html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* source-sans-pro-latin-400-normal */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  width: 100%;
}

/* <--- NAVIGATION ----> */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
}

.nav-left-corner {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0.6rem;
  height: 60px;
}

.nav-left-corner h4 {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #0e0e0e;
}

.nav-right-corner {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.6rem;
  height: 60px;
}

.nav-right-corner a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

/* <--- HERO SECTION ----> */

.hero,
.hero-content {
  height: 360px;
  width: 100%;
}

.hero {
  background-image: url("/images/article-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: white;
  padding: 1rem 1.3rem;
}

.hero-content date {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.hero-content p {
  font-size: 1rem;
  margin: 0.5rem 0;
  line-height: 1.3;
}

/* MAIN */

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1.8rem 0.9rem;
}

.grid-item {
  width: 100%;
  gap: 0.5rem;
}

.grid-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;
}

.grid-item date {
  font-size: 0.75rem;
}

.grid-item h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.6rem 0;
}

.grid-item p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.load-more-button {
  display: inline-block;
  text-decoration: underline;
  color: black;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

/* <---FOOTER ----> */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  height: 100px;
}

footer span {
  font-size: 0.8rem;
  font-weight: bold;
  color: #ececec;
}

footer p {
  font-size: 0.8rem;
  color: #d7d7d7;
  margin: 0;
}

@media (min-width: 500px) and (max-width: 899px) {
  /* main {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 2rem 1.5rem;
  } */
}

@media (min-width: 900px) {
 /*  main {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 2rem;
  } */
}