html, 
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* source-sans-pro-latin-400-normal */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;
}

.nav-left-corner {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    padding: 1rem;
}

.nav-right-corner {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 1.4rem;
}

.nav-right-corner a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
}

.hero {
    background-image: url('/images/article-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}

.hero-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    color: white;
    padding: 1rem 0.9rem;
}

.hero-content date {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}

.hero-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.hero-content p {
    font-size: 1rem;
    margin: 0.5rem 0;
    line-height: 1.3;
}